{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta%}
    <meta name="robots" content="noindex" />
{% endblock%}

{% block title %}Login{% endblock %}
{% block content%}
    <div class="container">
        <div class="row">
            <div class="col justify-content-center align-items-center d-flex my-5">
                {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
        
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table>
                        {% csrf_token %}
                        {{ form | crispy }}
                    </table>
                    {# Assumes you setup the password_reset view in your URLconf #}
                    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                    <input class="btn btn-primary" type="submit" value="login" />
                </form>               
            </div>
        </div>
    </div>
    
{% endblock %} 