{% extends 'layout.html' %}
{% load static %}

{% block title %}Posts{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
    <!-- Latest Posts -->
    <main class="posts-listing col-lg-8">
        <div class="container">
        <div class="row">
            <!-- post -->
            {% for post in post_list %}
                <div class="post col-xl-6">
                    <div class="post-thumbnail"><a href="{{ post.get_absolute_url }}"><img src="{{ post.thumbnail.image.url }}" alt="{{ post.thumbnail.alt_tag}}" class="img-fluid"></a></div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">
                            <div class="date meta-last">{{ post.timestamp|date:"j M | Y"}}</div>
                            <div class="category">
                                {% for category in post.categories.all %}
                                    <a href="{{ category.get_absolute_url }}">{{ category }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <a href="{{ post.get_absolute_url }}">
                            <h3 class="h4">{{ post.title }}</h3>
                        </a>
                        <p class="text-muted">{{ post.description | safe }}</p>
                        <footer class="post-footer d-flex align-items-center">
                            <div class="date"><i class="icon-clock"></i>{{ post.timestamp|timesince }}</div>
                            <div class="comments meta-last"><i class="icon-comment"></i><a href="{{ post.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ post.get_absolute_url }}"></a></div>
                            
                        </footer>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Pagination -->
        <nav class="pagination">
            <ul class="step-links pagination pagination-template d-flex justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page=1" class="page-link"><i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link active">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}

                <li class="page-item"><a href="?page={{ page_obj.number }}" class="page-link active">{{ page_obj.number }}</a></li>

                {% if page_obj.has_next %}
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link active">{{ page_obj.next_page_number }}</a></li>
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                    <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                {% endif %}
            </ul>
        </nav>
      </div>
    </main>
    {% include "vertical_navbar.html" %}
    </div>
</div>
</div>
<script id="dsq-count-scr" src="//dumats.disqus.com/count.js" async></script>
{% endblock %}
