{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta%}
  <meta name="robots" content="noindex" />
{% endblock%}

{% block title %}Delete Post{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
          <div class="container">
            <div class="post-single">
              <div class="post-details">
                <h1>{{ post.title }}</h1>
                <div class="post-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Are you sure you want to delete "{{ object }}"?</p>
                        <input type="submit" value="Confirm">
                    </form>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
{% endblock %}
