<aside class="col-lg-4">
<!-- Widget [Latest Posts Widget]        -->
<div class="widget latest-posts">
    <header>
        <h3 class="h6">Latest Posts</h3>
    </header>
    <div class="blog-posts mb-4">
        {% for post in recent_posts %}
            <a href="{{ post.get_absolute_url }}">
                <div class="item d-flex align-items-center">
                    <div class="title">
                        <strong>{{ post.title }}</strong>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <!-- Widget [Categories Widget]-->
    <div class="widget categories">
        <header>
            <h3 class="h6">Categories</h3>
        </header>
        {% for category in category_count %}
            <div class="item d-flex justify-content-between">
                <a href="{{ category.get_absolute_url }}">{{ category.categories__title}}</a><span>{{ category.categories__title__count}}</span>
            </div>
        {% endfor %}
    </div>
</div>
</aside>
